.section_cards{
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100vw; 
  

  .div_ul_cards{
    display: flex;
    justify-content: center;


    .ul_cards{
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      width: 1370px;
      
      
      @media (max-width: 1401px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 1200px;
        margin-left: 70px;
      }

      @media (max-width: 1047px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-left: 100px;
      }

      @media (max-width: 902px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-left: 60px;
      }

      @media (max-width: 705px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-left: 10px;
      }

      @media (max-width: 705px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-left: 10px;
      }

      @media (max-width: 658px) {
        gap: 30px;
        display: flex;
        margin-left: 10px;
        overflow-x: scroll;
        height: 400px;
      }
    
    }


  }

  .div_pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
}