.div_central{
  position: absolute;
  height: 100vh;

  .div_main{
    //position: absolute;
  }

  .div_footer{
    position: relative;
    top: 1600px;
    width: 100vw;
  }
}

.div_container{
  height: 100%;

}
