.footer{
  background-color: var(--grey-900);
  height: 160px;
  
  .div_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
    overflow-y: hidden;
  @media (min-width: 1400px) {
    max-width: 1300px;
  }

  @media (max-width: 575px){
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px 20px 0px;
    

  }

    .div_footer_logo{

      .logo_footer{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.4rem;
        color: var(--white-500);


        .span_logo{
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.4rem;
        }

      }

    }

    .div_footer_all_rights{
     
      .all_rights{
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: var(--white-500);
      }
    }

  }
  
   
}